.star {
    font-size: 1.5rem;
    cursor: pointer;
    color: #6a6a6adc;
    border: none;
    /*padding: 0 5px;*/
}

.star.active {
    border-radius: 5%;
    color: #fff;
}

.star-1.active {
    background-color: #8B0000;
}

/* Vermelho escuro - Péssimo */
.star-2.active {
    background-color: #FF0000;
}

/* Vermelho claro - Ruim */
.star-3.active {
    background-color: #FFA500;
}

/* Laranja - Regular */
.star-4.active {
    background-color: #90EE90;
}

/* Verde claro - Bom */
.star-5.active {
    background-color: #006400;
}

/* Verde escuro - Ótimo */
.success-page {
    display: none;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.success-icon {
    color: #4CAF50;
    width: 48px;
    height: 48px;
}